@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  position: relative;
  background: #E5E5E5;
}

body .purple-color {
  position: absolute;
  width: 800px;
  height: 800px;
  left: -330px;
  top: 200px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(237, 187, 255, 0.6) 0%, rgba(237, 187, 255, 0) 100%);
}

body .cyan-color {
  position: absolute;
  width: 528px;
  height: 528px;
  left: 396px;
  top: -318px;
  background: radial-gradient(50% 50% at 50% 50%, #C6FCFF 0%, rgba(198, 252, 255, 0) 100%);
}

body .pink-color {
  position: absolute;
  width: 624px;
  height: 624px;
  left: 1053px;
  top: -169px;
  background: radial-gradient(50% 50% at 50% 50%, #FFDDB6 0%, rgba(255, 221, 182, 0) 100%);
}

.tariff-card {
  display: -webkit-box;
  display: -ms-flexbox;
  position: relative;
  display: flex;
  gap: 40px;
  background: rgba(255, 250, 250, 0.668);
  border: 20px solid #FFFFFF;
  border-radius: 30px;
  padding: 80px;
}

.tariff-card .tariff-card__free h1, .tariff-card .tariff-card__standart h1, .tariff-card .tariff-card__premium h1 {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 33px;
  color: #141843;
  margin-bottom: 10px;
}

.tariff-card .tariff-card__free .price-number, .tariff-card .tariff-card__standart .price-number, .tariff-card .tariff-card__premium .price-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tariff-card .tariff-card__free .price-number h3, .tariff-card .tariff-card__standart .price-number h3, .tariff-card .tariff-card__premium .price-number h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 47px;
  color: #141843;
  margin-right: 5px;
  font-family: 'IBM Plex Sans';
}

.tariff-card .tariff-card__free .price-number h1, .tariff-card .tariff-card__standart .price-number h1, .tariff-card .tariff-card__premium .price-number h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 62px;
  line-height: 81px;
  color: #141843;
}

.tariff-card .tariff-card__free .short-text, .tariff-card .tariff-card__standart .short-text, .tariff-card .tariff-card__premium .short-text {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #141843;
  margin-bottom: 40px;
}

.tariff-card .tariff-card__free .long-text, .tariff-card .tariff-card__standart .long-text, .tariff-card .tariff-card__premium .long-text {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  width: 276px;
  height: 52px;
  color: #141843;
  margin-bottom: 50px;
}

.tariff-card .tariff-card__free button, .tariff-card .tariff-card__standart button, .tariff-card .tariff-card__premium button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 144px;
  height: 66px;
  background-color: #EDBBFF;
  border-radius: 10px;
  padding: 20px;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

.tariff-card .tariff-card__free button:active {
  transform: scale(0.95);
  transition: all 200ms ease-in-out;
}

.tariff-card .tariff-card__free button:hover {
  background-color: #edbbffd6;
}

.tariff-card .tariff-card__standart button {
  background-color: #AEF1F5;
  font-size: 16px;
}

.tariff-card .tariff-card__premium button {
  background-color: #FFDDB6;
}
/*# sourceMappingURL=main.css.map */